{% extends 'base_inner.html' %}
{% block title %}{{moviedetail.title}} {{title}}{% endblock %}
{% block page_header %}Detail{% endblock  %}
{% block body_block %}
{% if moviedetail %}
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="d-flex justify-content-center">
                <img src="{{ moviedetail.cover_image }}" alt="moviedetail.title" class="movie-thumbnail img-responsive img-thumbnail">
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <h1>{{ moviedetail.title }}</h1>
            <table class="table">
                <tbody>
                    {% include 'tablerowdetail.html' with heading="Title" value=moviedetail.title %}
                    {% include 'tablerowdetail.html' with heading="Subtitle" value=moviedetail.sub_title %}
                    {% include 'tablerowdetail.html' with heading="Genre" value=moviedetail.genre %}
                    {% include 'tablerowdetail.html' with heading="Director" value=moviedetail.directors %}
                    {% include 'tablerowdetail.html' with heading="Studio" value=moviedetail.studio %}
                    {% include 'tablerowdetail.html' with heading="Release date" value=moviedetail.release_date|date:"d M Y" %}
                    {% include 'tablerowdetail.html' with heading="Rating/Review" value=moviedetail.review %}
                     {% include 'tablerowdetail.html' with heading="ASIN" value=moviedetail.ASIN %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    {% include 'nodata.html' with message="No detail found" %}
{% endif %}

{% endblock  %}


