{% extends 'base_inner.html' %}
{% block title %}{{object}} {{title}}{% endblock %}
{% block page_header %}Song Detail{% endblock %}
{% block body_block %}
{% if object %}
<div class="row">
    <div class="col-md-3 col-sm-12">
        <div class="d-flex justify-content-center">
            <img src="{{ object.cover_image_id.image_location }}" alt="object" class="movie-thumbnail img-responsive img-thumbnail">
        </div>
    </div>
    <div class="col-md-9 col-sm-12">
        <h1>{{ object }}</h1>
        <table class="table">
            <tbody>
                {% include 'tablerowdetail.html' with heading="Title" value=object.title %}
                {% include 'tablerowdetail.html' with heading="Subtitle" value=object.band_id %}
                {% include 'tablerowdetail.html' with heading="Genre" value=object.album_id %}
                {% include 'tablerowdetail.html' with heading="Label" value=object.label_id %}
                {% include 'tablerowdetail.html' with heading="Release date" value=object.release_date|date:"d M Y" %}
                {% include 'tablerowdetail.html' with heading="Track Number" value=object.track_number %}
                {% include 'tablerowdetail.html' with heading="Length" value=object.length|time:'H:i:s' %}
                {% include 'tablerowdetail.html' with heading="Artist/s" value=artist_names %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
{% include 'nodata.html' with message="No detail found" %}
{% endif %}

{% endblock %}