{% extends 'base_inner.html' %}
{% block title %}{{object}} {{title}}{% endblock %}
{% block page_header %}Add Place{% endblock %}

{% block body_block %}

{% if message %}
    {{ message }}
{% endif %}

<form action="{% url 'places:add' %}" method="POST">
        {% csrf_token %}
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="title">Place name* :</label>
                {{ form.title }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="description">Description* :</label>
                {{ form.description }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="address">Address* :</label>
                {{ form.address }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="phone">Phone :</label>
                {{ form.phone }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="city">City* :</label>
                {{ form.city }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="tags">Tags* :</label>
                {{ form.tags }}
                {{ form.tags.help_text }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="type">Type</label>
                {{ form.type }}
            </div>
        </div>
    </div>
    <!-- <div class="row">
        {{ form.point }}
    </div> -->
    <button type="submit" class=" btn btn-dark">Add Place</button>
</form>
{% endblock %}