<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>{% block title %}{% endblock %}</title>
  <style type="text/css">
    .nodecor:hover {
      text-decoration: none;
    }

    .movie-thumbnail {
      height: 200px;
      width: 200px;

    }
  </style>
</head>

<body>

  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">BookmarkIt</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Movies
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'movies:movielist' %}">All</a>
              <a class="dropdown-item" href="{% url 'movies:genrelist' %}">Genre</a>
              <a class="dropdown-item" href="{% url 'movies:studiolist' %}">Studio</a>
              <a class="dropdown-item" href="{% url 'movies:directorlist' %}">Director</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Musics
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'musics:songlist' %}">All</a>
              <a class="dropdown-item" href="{% url 'musics:genrelist' %}">Genre</a>
              <a class="dropdown-item" href="{% url 'musics:artistlist' %}">Artist</a>
              <a class="dropdown-item" href="{% url 'musics:albumlist' %}">Albums</a>
              <a class="dropdown-item" href="{% url 'musics:labellist' %}">Label</a>
            </div>
          </li>
          <li class="nav-item">
            <span class="glyphicon glyphicon-log-out"></span>
            <a class="nav-link" href="{% url 'users:logout'%}">Logout</a>
          </li>
      </div>
    </nav>
    <div class="container">
      <div class="my-3">
        <div class="d-flex justify-content-between">
          <div class="p-2">
            <h2>{% block page_header %}{% endblock %}</h2>
          </div>
          <div class="p-2">
            <h2>{% block page_header_right %}{% endblock %}</h2>
          </div>
        </div>
        {% block body_block %}
        {% endblock %}
      </div>
    </div>
    <div>
      <ul class="nav na justify-content-center navbar-dark bg-dark">
        <li class="nav-item">
          <a class="nav-link disable" href="#">&copy; BookmarkIt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="About">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>